---
name: Cloudflare Pages

on:
  push:
  workflow_dispatch:
  discussion_comment:
    types: [created, deleted]

jobs:
  cloudflare-pages:
    name: Cloudflare Pages
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: "24"

      - name: Configure Git for Renovate
        run: |
          git config --global user.email 'bot@renovateapp.com'
          git config --global user.name 'Renovate Bot'
          npx renovate
        env:
          RENOVATE_TOKEN: ${{ secrets.GITHUB_COM_TOKEN }}
          RENOVATE_PLATFORM: github
